@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/Accounts/Login" method="post">

    <div>
        UserName
        <input name="username" id="username" value="" />
    </div>
    <div>
        Password
        <input name="password" id="password" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>