
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="/Accounts/Register" method="post">

    <div>
        First Name
        <input name="firstname" id="firstname" value="" />
    </div>
    <div>
        Last Name
        <input name="lastname" id="lastname" value="" />
    </div>
    <div>
        UserName
        <input name="username" id="username" value="" />
    </div>
    <div>
        Password
        <input name="password" id="password" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

